/* Navbar Stylings */

.text-green {
    color: #61AF84;
    font-weight: 500 !important;
    transition: all;
    transition-duration: .6s;
}

.text-green:hover {
    color: #ED4947;

}

.active-page-text {
    color: #ED4947;
}

/* Home Page Style */

/* banner */
.banner-wrapper{
    border-radius: 70px;
    background: url("./assets/bannerImg//banner_1.png") no-repeat center;
    background-size: cover;
    background-blend-mode:lighten;
}
.banner-wrapper>div>h1{
    color: #B5C9DD;
}
.banner-wrapper>div>h2{
    color: #F3C553;
}
.bg-green{
    background-color: #61AF84;
}
.bg-green:hover{
    background-color: #f07c7a;
}