/* Whatsapp style */
.whatsapp-icon{
    bottom: 20px;
    right: 20px;
    width: 80px;
    cursor: pointer;
}
@media screen and (max-width:576px) {
    .whatsapp-icon{
        width: 60px;
    }
}
/* Navbar Stylings */

.nav-bg{
    background-color: #ebfff5;
}
.cross-btn{
    top: 20px;
    right: 20px;
}
.text-green {
    color: #61AF84;
    font-weight: 500;
    transition: all;
    transition-duration: .6s;
}

.text-green:hover {
    color: #ED4947;
}
.text-orange {
    color: #ED4947;
}

.bg-green {
    cursor: pointer;
    color: white;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: #61AF84;
}

.bg-green:hover {
    background-color: #f07c7a;
}

.box-shadow {
    box-shadow: 8px 8px 8px 1px rgb(241, 241, 241);
}

.footer-bg{
    background-color: #ebfff5;
    line-height: 30px;
}

/* Product page stylings */

.features-card{
    box-shadow: 20px 10px 30px 1px rgb(212, 212, 212);
}

@media screen and (max-width:600px) {
    .features-card{
        box-shadow: 10px 10px 20px 1px rgb(124, 124, 124);
    }
}

/* dropdown */

.product-dropdown>ul{
    top: 50px;
    width: 200px;
    z-index: 1;
}
/* about Count Stylings */

.count-box-shadow {
    background-color: #f7f7f7;
    box-shadow: -5px 5px 10px 0px rgb(221, 221, 221);
}

/* product banner */
.product-banner-text {
    top: 40%;
}
@media screen and (max-width:576px) {
    .product-banner-text {
        position: relative !important;
        color: #2A4965 !important;
        padding-top: 20px;
        top: 0;
    }
}

/* contact page */
.contact-bg{
    background: url("./assets/stockImg/world.jpg") center;
    background-size: cover;
    height: fit-content;
}
input,textarea{
    border: 1px solid rgb(141, 141, 141) !important;
    background: hwb(0 93% 7% / 0.5) !important;
}
textarea{
    height: 200px !important;
}
.contact-banner{
    background:url('./assets/stockImg/ContactBanner.png') center no-repeat;
    background-size: cover;
}


/* update section */

.update-decor{
    background-color: #DAE4EE;
}