*{
    margin: 0 !important;
    padding: 0 ;
}

li{
    list-style: none;
    cursor: pointer;
}

.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}
.w-screen{
    width: 100vw;
}

.fs-19{
    font-size: 19px;
}

b{
    font-weight: bold;
}