* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    cursor: pointer;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content !important;
}

.h-100vh {
    height: 100vh;
}

.h-full {
    height: 100% !important;
}

b {
    font-weight: bold;
}

/* Title colors */
.title-primary-1 {
    color: hwb(209 27% 34%);
}

.title-primary-2 {
    color: #2A4965;
}

.title-primary-3 {
    color: #B5C9DD;
}

.title-primary-4 {
    color: #6B94BA;
}

.title-primary-5 {
    color: #4679A9;
}

.title-primary-6 {
    color: #399B65;
}

.title-primary-7 {
    color: #61AF84;
}

.bg-primary-1{
    background-color: #6B94BA;
}
.btn-bg{
    background-color: #011C2A;
}